<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="add-result" method="post">
        <input type="text" name="input1" placeholder="Enter the first Number"><br>

        <input type="text" name="input2" placeholder="Enter the second number"><br>

        <input type="submit"  value="Add">
    </form>

    <h2>The result of addition => </h2>  <h2>{{result}}</h2>

    <a href ="/new-user"> New user</a><br>
    <a href ="/">String reverse</a>
</body>
</html>