<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New user registration</h1>
    <form action="user-detail" method="post">
        <input type="text" name="name" placeholder="Enter your name"><br>
        <input type="text" name="age" placeholder="Enter your age"><br>
        <input type="text" name="city" placeholder="Enter your city"><br>
        <input type="submit"  value="Submit">
    </form>
    
    {{msg}}

    <a href ="/add"> Addition</a><br>
    <a href ="/">String reverse</a>
</body>
</html>